* {
  box-sizing: border-box;
}
body {
  margin:0;
}
/* 
PRVA SEKCIJA: Početna
------------------------------------------------------------ */
.mimaarbid-naslovna header {
  display: none;
}
.mimaarbid-naslovna {
  background-image: url('slike/pozadina.png');
  background-size: cover;
  height: 49.2vw;
  display: flex;
}
.navigation-bar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-top: 4.2%;
  margin-left: 58%;
}
.navigation-bar li a {
  color:white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2vw;
  padding: 0 16px;
  text-decoration: none;
  letter-spacing: 2.4px;
}
/* 
DRUGA SEKCIJA: Biografija
------------------------------------------------------------ */
.biografija {
  height: 32.6vw;
  background-color: #F7F3D6;
  text-align: center;
  display: flex;
  align-items: flex-start;
}
.biografija img {
  width: 33%;
  margin-top: 4%;
  padding-bottom: -3%;
  margin-left: 4.2%;
  height: auto;
}
.biografija-text {
  background-image: url('slike/mima-prazno.png');
  background-size: 112% 100%;
  background-position: 40% 0;
}
*.biografija-text pre {
  width: 100%;
  margin-left: 2%;
  margin-top: 6.4%;
  font-size: 1.62vw;
  line-height: 2.08vw;
  font-family: "Marion", serif;
  color: black;
}
.biografija-text a {
  color: black;
  text-decoration: none;
}
.biografija-text a:hover {
  color: #222059;
  text-decoration: underline;
}
.biografija-text p {
  opacity: 0.5;
  font-family: "Wingdings 2";
  color: grey;
  font-size: 1.3em;
}
#wingdings-a {
  position:absolute;
  font-size: 1.9vw;
  text-align: center;
  margin-left: 30.8%;
  margin-top: 1.5%;
  font-family: "Wingdings 2";
}
#wingdings-b {
  position: absolute;
  margin-top: -3.4%;
  font-size: 1.9vw;
  margin-left: 30.8%;
  text-align: center;
  font-family: "Wingdings 2";
}
.mobilni {
  font-size: 2.6vw;
  line-height: 3.1vw;
  font-family: "Marion",serif;
  padding: 50px 70px 20px;
  margin-left: 0;
}
/* 
TREĆA SEKCIJA: Umetnički blok
------------------------------------------------------------ */
.umetnički-blok {
  font-size: 1.62vw;
  display: flex;
  margin-top: 50px;
  justify-content: flex-start;
}
.slika-palme {
  flex: 3;
  margin-left: 4%;
  text-align: left;
}
.slika-palme img {
  height: auto;
  width: 75%;
}
#slika-četkice  {
  width: 25%;
  flex: 1;
  height: auto;
}
/*
ČETVRTA SEKCIJA: Umetnički-Blok 2  
------------------------------------------------------------ */
.umetnički-blok2 {
  font-size: 1.62vw;
  display:flex;
  background-color: #f2f2f2;
}
.slika-palme2 {
  flex:1.19;
  margin-top: 60px;
  margin-left: 10%;
 }
.slika-palme3 {
  flex:2;
}
.slika-palme2 img {
  width: 85%;
  height: auto;
}
.slika-palme3 img {
  width: 85%;
  height: auto;
}
/* 
ASIDE: Slika-text 
------------------------------------------------------------ */
.slika-text {
  background-color: #f2f2f2;
  padding-bottom: 60px;
  text-align: center;
  font-size: 1.7vw;
}
.slika-text p {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Marion";
  color: #3d6877;
  margin-top: 0px;
  padding-top: 35px;
  font-style: italic;
}
/* 
PETA SEKCIJA: Umetnički-Blok 3 
------------------------------------------------------------*/
.slika-planina {
  background-color: #3d6877;
  margin-top: -45px;
  color: white;
  padding-bottom: 20px;
}
.slika-planina img {
  width: 85%;
  height: auto;
  margin-top: 7%;
  margin-left: 7.5%;
}
.slika-planina p {
  margin-left: 7.8%;
  padding-bottom: 2%;
  font-size: 1.62vw;
}
/* 
ŠESTA SEKCIJA: Knjige  
-------------------------------*/
.knjige {
  background-color: #f2f2f2;
  padding:10px 0;
  font-size: 1.9vw;
  margin-top: -22px;
}
/* 
SEDMA SEKCIJA: Mima-lično 
-------------------------------*/
.mima-lično {
  float: left;
  align-items: flex-end;
  margin-top: 5%;
  position: static;
  margin-left: 5%;
}
.mima-lično img {
  width: 24%;
  height: auto;
}
.mima-lično img:last-of-type {
  margin-left: 1.5%;
  width:25%;
  height: auto;
  margin-bottom: -3.2%;
}
 .mima-text {
  margin-top: 3.2%;
  position: absolute;
  left: 34%;
  color: #3d6877;
  line-height: 126%;
} 
.mima-text pre {
  position: absolute;
  left: 32%;
  font-size: 1.6vw;
  color: #3d6877;
  line-height: 126%;
  font-family: "Marion", serif;
}
#mima-potpis {
  position: relative;
  font-family: "Sacramento";
  font-size: 2.5vw;
  text-align: right;
  top: 16vw;
  left: 52vw;
  color: #3d6877;
}
/* 
FOOTER 
------------------------------*/
footer {
  position: relative;
  top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vw;
  background-color: #222059;
  color: white;
}
#mimaarbid-text {
  position: relative;
  bottom: -3.2%;
  font-family:"Sacramento";
  font-size: 4.3vw;
}
#pismo-simbol {
  position: relative;
  font-family: "Wingdings";
  font-size: 6.2vw;
  top: -6%;
}
.kontakt-imejl {
 display: block;
 margin-left: -14.5%;
 font-size: 1.7vw;
 margin-bottom: 0%;
}
.kontakt-imejl p:first-of-type {
  margin-left: 3px;
  margin-bottom: -7%;
  font-size: 0.8em;
}
.kontakt-imejl p:last-of-type a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  padding: 4px;
  border-radius: 2px;
}
#facebook {
  font-family: "Arial";
  font-weight: bolder;
  font-size: 3.2vw;
}
#facebook a {
  color: white;
  text-decoration: none;
}
#vrh-strane {
  position: absolute;
  right: 3px;
  top: -47px;
  opacity: 0.7;
}
#vrh-strane a {
  color:#222059;
  padding: 7px 28px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.4vw;
  background-color: transparent;
  color: black;
  border: 1px solid #adb5bd;
  font-family:'Times New Roman', serif;
  font-weight: bold;
}

/* RESPONSIVE 
----------------------------------------------------------------------------- */

/* Prelazak sa Flex-Row na Flex-Column u drugoj sekciji (max-width 1023px) */

@media screen and (max-width: 1023px) {
  /* PRVA SEKCIJA: Početna */
  .navigation-bar {
    margin-left: 56%;
  }
    .navigation-bar li a {
    font-size: 1.3vw;
  }
 /* DRUGA SEKCIJA: Biografija */
  .biografija {
    position: relative;
    flex-direction: column-reverse;
    align-items: center;
    height: 97vw;
  }
  .biografija-text {
    background-image: url('slike/mima-prazno.png');
    background-size: 110% 120%;
    position: absolute;
    width: 100%;
    top: -2%;
  }
  .biografija-text pre{
    position: relative;
    width: 95%;
    top: -35%;
    font-size: 2.1vw;
    line-height: 2.6vw;
    align-items: center;
  }
  .biografija img {
    position: relative;
    width: 60%;
    top: -10%;
  }
  #wingdings-a {
    position:absolute;
    font-size: 1.3em;
    text-align: center;
    margin-left: 48%;
    margin-top: 3.5%;
    font-family: "Wingdings 2";
  }
  #wingdings-b {
    position: absolute;
    margin-top: -5%;
    font-size: 1.3em;
    margin-left: enter;
    margin-left: 49%;
    text-align: center;
    font-family: "Wingdings 2";
  }
  /* SEDMA SEKCIJA: Mima-lično  */
  .mima-text {
    margin-top: 3%;
    left: 28%;
  }
  .mima-text pre {
    font-size: 1.84vw;
    line-height: 120%;
  }
  .mima-lično img {
    width: 22%;
    height: auto;
  }
  .mima-lično img:last-of-type {
    margin-left: 1%;
    width:20%;
    margin-bottom: -4.1%;
  }
  #mima-potpis {
    font-size: 2.9vw;
    top: 16vw;
    left: 61vw;
  }
  /* FOOTER */
  #vrh-strane a {
   font-size: 1.1em;
  }
}
/* Laptop  (min-width: 1024px) */

@media screen and (min-width: 1024px) {
  /* PRVA SEKCIJA: Početna */
  .navigation-bar {
    margin-left: 55%;
    margin-top: 4.6%;
  }
  .navigation-bar li a {
    padding: 0 20px;
  }
  /* FOOTER */
  #vrh-strane a {
    font-size: 1.5vw;
  }
} 
/* Laptop Large (min-width: 1200px) */

@media screen and (min-width: 1200px) {
  /* PRVA SEKCIJA: Početna */
  .navigation-bar {
    margin-left: 58%;
    margin-top: 4.6%;
  }
  .navigation-bar li a {
    padding: 0 20px;
  }
   /* FOOTER */
   #vrh-strane {
    right: 3px;
    top: -52px;
  }
} 
/* Laptop Extra Large (min-width 1400px) */

@media screen and (min-width: 1400px) {
  /* PRVA SEKCIJA: Početna */
  .navigation-bar {
    margin-left: 60%;
  }
  .navigation-bar li a {
    padding: 0 22px;
  }
}
/* Large Screen (min-width: 1900px) */

@media screen and (min-width: 1900px) {
  /* PRVA SEKCIJA: Početna */
  .navigation-bar {
    margin-left: 61%;
  }
  .navigation-bar li a {
    padding: 0 30px;
    font-size: 1.4vw;
  }
  /* FOOTER */
   footer {
    top: 130px;
  }
  #vrh-strane {
    top: -70px;
  }
}
/* iPad Air & iPad Mini (min-width: 768px) and (max-width: 900px) */

@media screen and (min-width: 768px) and (max-width: 900px) {
  /* PRVA SEKCIJA: Početna */
  .navigation-bar {
    margin-top: 3.8%;
    margin-left: 53%;
  }
  .navigation-bar li a {
    padding: 0 12px;
    font-size: 1.4vw;
  }
  /* DRUGA SEKCIJA: Biografija */
  .biografija-text pre{
    font-size: 2.3vw;
    line-height: 2.7vw;
    top: -33%;
  }
}
/* Prelazak sa Flex-Row na Flex-Column u sedmoj sekciji (max-width 900px) */

@media screen and (max-width: 900px) {
  /* TREĆA SEKCIJA, ČETVRTA SEKCIJA, PETA SEKCIJA */
  .umetnički-blok, .umetnički-blok2, .slika-planina p {
    font-size: 0.95em;
  }
  /* ASIDE: Slika-text */
  .slika-text {
    font-size: 1.1em;
  }
  /* SEDMA SEKCIJA: Mima-lično */
  .mima-lično {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .mima-text {
    margin-top: 3.2%;
    position: relative;
    left: 0%;
    color: #3d6877;
    line-height: 126%;
  } 
  #mima-potpis {
    position: absolute;
    font-size: 7.8vw;
    text-align: center;
    margin-top: 123px;
    left:69%;
  }
  .mima-text pre {
    position: absolute;
    left: 5%;
    margin-top: 0;
    font-size: 2.4vw;
    color: #3d6877;
    line-height: 120%;
    text-align: left;
  }
  .mima-lično img {
    width: 40%;
    height: auto;
    margin-left: 5%;
    margin-top: 0%;
  }
  .mima-lično img:last-of-type {
    position: relative;
    left: 44%;
    top: 170px;
    width: 43%;
  }
  /* FOOTER */
  footer {
    top: 50px;
    align-items: center;
    height: 16vw;
  }
  #mimaarbid-text {
    bottom: -3.2%;
    font-size: 3em;
  }
  #pismo-simbol {
    font-size: 5em;
    top: -6%;
  }
  .kontakt-imejl {
     margin-left: -8%;
     font-size: 2.7vw;
     margin-bottom: 0%;
  }
  .kontakt-imejl p:first-of-type {
    margin-left: 3px;
    margin-bottom: -6%;
  }
  #facebook {
    font-size: 2.7em;
  }
}
/* VEĆI MOBILNI (max-width: 767px) */

@media screen and (max-width: 767px) {
  /* PRVA SEKCIJA */
  .mimaarbid-naslovna {
    justify-content: center;
    background-image: url('slike/mobilni.png'); 
    background-size: cover; 
    height:92.1vw;
  }
   .navigation-bar {
    margin-top: 4.3%;
    margin-left: -9%;
  }
  .navigation-bar li a {
    font-size: 2.6vw;
    padding: 0 17px;
    letter-spacing: 2.3px;
  }
  /* DRUGA SEKCIJA: Biografija */
  .biografija {
    height: 130vw
  }
  .biografija img {
    position: relative;
    width: 98%;
    top: -20%;
    margin-left: 0%;
    margin-bottom: -15%;
  }
  /* TREĆA SEKCIJA: Umetnički-Blok*/
  .slika-palme {
    text-align: center;
    margin-left: 0;
    margin-top: -3px;
  }
  .slika-palme img {
    height: auto;
    width:100%;
    margin-top: 1%;
  }
  #slika-četkice {
    position: relative;
    width: 35%;
    height: auto;
  }
  /* ČETVRTA SEKCIJA: Umetnički-Blok 2 */  
  .umetnički-blok2 {
    width: 100%;
    text-align: center;
    background-color: transparent;
  }
  .slika-palme2 {
    width: 75%;
    margin-left: 13%;
    margin-top: 0px;
  }
  .slika-palme2 img {
    width: 65%;
    height: auto;
  }
  .slika-palme3 img {
    width: 85%;
    height: auto;
  }
  /* ASIDE: Slika-text */
  .slika-text {
    background-color: transparent;
  }
}
/* SREDNJI MOBILNI (max-width: 650px) */

@media screen and (max-width: 671px) {
  
  /* DRUGA SEKCIJA: Biografija */
  .biografija img {
    top: -5%;
    margin-bottom: -8%;
  }
  .mobilni {
    font-size: 3vw;
    line-height: 3.4vw;
    padding: 40px 60px 0;
  }
  /* ASIDE: Slika-text */
  .slika-text {
    width: 100%;
    font-size: 1em;
  }
}
@media screen and (max-width: 575px) {
  
  /* DRUGA SEKCIJA: Biografija */
  .biografija {
    height: 140vw;
  }
  .biografija img {
    top: -7%;
    margin-bottom: -15%;
  }
  .mobilni {
    font-size: 3.5vw;
    line-height: 3.9vw;
    padding: 40px 40px 0;
  }

}
@media screen and (max-width: 475px) {
  
  /* DRUGA SEKCIJA: Biografija */
  .biografija {
    height: 151vw;
  }
  .biografija img {
    top: -12%;
    margin-bottom: -25%;
  }
  .mobilni {
    font-size: 4vw;
    line-height: 4.3vw;
    padding: 40px 30px 0;
  }
}
/*MANJI MOBILNI (max-width: 400px) */

@media screen and (max-width: 400px) {
  /* DRUGA SEKCIJA: Biografija */
  .biografija {
    height: 205vw;
  }
  .biografija img {
    top: -10%;
    margin-bottom: -30%;
  }
  .mobilni {
    font-size: 5.2vw;
    line-height: 5.4vw;
    padding: 40px 23px 0;
  }
  /* TREĆA SEKCIJA, ČETVRTA SEKCIJA, PETA SEKCIJA */
  .umetnički-blok, .umetnički-blok2, .slika-planina p {
    font-size: 0.9em;
  }
  /* ČETVRTA SEKCIJA: Umetnički-Blok 2 */ 
  .umetnički-blok2 {
    font-size: 0.8em;
  }
  /* ASIDE: Slika-text */
  /*.slika-text {
    font-size: 0.7em;
  } */
}


