* {
  box-sizing: border-box;
}
body {
  margin: 0;
  border-left: 40px solid grey;
  border-right: 40px solid grey;
  border-bottom: 40px solid grey;
}
/* Zaglavlje */
header {
  background-color:  grey;
  padding: 5px;
  color: white;
  margin: 0;
}
header h1 {
  margin-bottom: 3px;
}
.zaglavlje-text {
  margin-left: 4.5%;
  margin-bottom: 2px;
  font-family: Helvetica, sans-serif;
  font-weight:300;
  padding-right: 10px;
}
/* Section */
section {
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: -4px;
}
/* Section - biografija/text */
.biografija {
  width: 50%;
} 
.biografija h2 {
  padding: 20px 20px 0;
  font-family: 'Optima bold';
  margin: 30px 40px 0;
  font-size: 1.7em;
}
.biografija p {
  font-family: 'Optima';
  margin-left: 60px;
  font-size: 1.2em;
}
/* Section-portret */
.portret img {
  margin-top: 20px;
}
/* Navigation Bar (books, paintings, amazon, instagram, facebook */
nav {
  max-width:100%;
  padding: 2px;
  background-color: #adb5bd;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  margin: 14px;
  position: relative;
  
}

#facebook {
  background-color: #219ebc;
  position:absolute;
  right: -16px;
  top: -16px;
  padding: 14px 45px;
  color: white;
 }
 #instagram {
  background-color: #219ebc;
  position:absolute;
  right: 172px;
  top: -16px;
  padding: 14px 45px;
  color: white;
 }
li a {
  text-decoration: none;
  color: black;
  font-family: "Optima";
  font-size: 1.5em;
  border: 1px solid #adb5bd;
  background-color: #ced4da;
  padding:10px 20px;
  border-radius: 5px;
  margin-left: 5px;
}

/* Artikli - okvir */
article {
  display: flex;
  justify-content:flex-start;
  background-color: white;
  margin-left: 30px;
}
/* Artikli - slike */
article img {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid #adb5bd;
  margin-left: 30px;
}
