* {
  box-sizing: border-box;
}
/* 
OSNOVNO PODEŠAVANJE [ Laptop ] (min-width: 1024px) 
___________________________________________________
*/
body {
  margin:0;
}
/* 
PRVA SEKCIJA: [ Početna ] (Glavna slika, Navigation-Bar) 
----------------------------------------------------------
*/
.mimaarbid-naslovna {
  height: 46vw;
  display: flex;
  background-image: url('slike/pozadina.png');
  background-size: 100% 100%;
}
.navigation-bar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-top: 4%;
  margin-left: 58%;
  font-size: 1.5vw;
}
.navigation-bar li a {
  color:white;
  font-family: "Montserrat";
  font-size: 1.1vw;
  padding: 0 16px;
  text-decoration: none;
  letter-spacing: 2.3px;
}
/* 
DRUGA SEKCIJA: [ Biografija ] (Zatamnjena slika Mime sa šeširom, Biografija-text) 
----------------------------------------------------------------------------------
*/
.biografija {
  height: 32.6vw;
  background-color: #FEFBEA;
  text-align: center;
  display: flex;
  align-items: flex-start;
}
.biografija img {
  width: 33%;
  margin-top: 4%;
  padding-bottom: -3%;
  margin-left: 4.2%;
  height: auto;
}
.biografija-text {
  background-image: url('slike/mima-prazno.png');
  background-size: 112% 100%;
  background-position: 40% 0;
}
.biografija-text pre {
  width: 100%;
  margin-left: 2%;
  margin-top: 6.4%;
  font-size: 1.62vw;
  line-height: 2.08vw;
  font-family: "Marion";
  color: black;
}
.biografija-text pre a {
  color: black;
  text-decoration: none;
}
.biografija-text pre a:hover {
  color: #222059;
  text-decoration: underline;
}
.biografija-text p {
  opacity: 0.5;
  font-family: "Wingdings 2";
  color: grey;
  font-size: 1.3em;
}
#a {
  position:absolute;
  font-size: 1.9vw;
  text-align: center;
  margin-left: 30.8%;
  margin-top: 1.5%;
}
#b {
  position: absolute;
  margin-top: -3.4%;
  font-size: 1.9vw;
  margin-left: enter;
  margin-left: 30.8%;
  text-align: center;
}
/* 
TREĆA SEKCIJA: [ Art-Blok 1 ] (Dve slike: slikarske četkice i palme) 
----------------------------------------------------------------------
*/
.umetnički-blok {
  display: flex;
  align-items: flex-end;
  margin-top: -1%;
}
.slika-palme {
  margin-left: 4%;
  text-align: left;
  font-size: 1.6vw;
}

.slika-palme img {
  width: 78%;
  height: auto;
  margin-top: 50px;
}

#slika-četkice {
  position: relative;
  width: 23%;
  height: auto;
  margin-bottom: -1%;
}
/*
ČETVRTA SEKCIJA: [ Art-Blok 2 ] (2 slike: palme) 
--------------------------------------------------
*/
.art-blok2 {
  display:flex;
  background-color: #f2f2f2;
  width: 100%;
  font-size: 1.42vw;
  margin-top: 1%;
}
.palme2 {
  margin-top: 70px;
  flex: 1;
  margin-left: 10%;
}
.palme3 {
  margin-top: 70px;
  flex: 1.68;
  margin-left: 7%;
  margin-right: 5%;
}
.palme2 img {
  width: 100%;
  height: auto;
}
.palme3 img {
  width: 100%;
  height: auto;
}
/* ASIDE */
.about {
  background-color: #f2f2f2;
  padding-bottom: 60px;
  margin-left: 0;
}
.about pre {
  color: #3d6877;
  margin-top: 0px;
  text-align: center;
  font-style: italic;
  padding-top: 40px;
  font-family: "Marion";
  font-size: 1.52vw;
}
/* 
PETA SEKCIJA: [ Art-Blok 3 ] (Slika: planine i reka) 
------------------------------------------------------
*/
.slika-planina {
  background-color: #3d6877;
  margin-top: -45px;
  color: white;
}
.slika-planina img {
  width: 85%;
  height: auto;
  margin-top: 7%;
  margin-left: 7.5%;
}
.slika-planina p {
  margin-left: 7.8%;
  padding-bottom: 2%;
  font-size: 1.42vw;
}
.slika-planina-text {
  padding-bottom: 15px;
}
.slika-planina-text pre {
  color: white;
  font-size: 1.53vw;
  font-weight: 500;
  font-family: "Marion";
  width: 95%;
  text-align: center;
  font-style: italic;
  margin-top: 25px;
  padding-bottom: 20px;
}
/* 
ŠESTA SEKCIJA: [ Mima-lično ] 
-------------------------------
*/
.mima-lično {
  float: left;
  align-items: flex-end;
  margin-top: 5%;
  position: static;
  margin-left: 5%;
}
.mima-lično img {
  width: 24%;
  height: auto;
}
.mima-lično img:last-of-type {
  margin-left: 1.5%;
  width:25%;
  height: auto;
  margin-bottom: -3.2%;
}
 .mima-text {
  margin-top: 3.2%;
  position: absolute;
  left: 34%;
  font-size: 1.6vw;
  color: #3d6877;
  line-height: 126%;
} 
.mima-text pre {
  position: absolute;
  left: 32%;
  font-size: 1.6vw;
  color: #3d6877;
  line-height: 126%;
  font-family: "Marion";
}
#mima-potpis {
  position: relative;
  font-family: "Sacramento";
  font-size: 2.5vw;
  text-align: right;
  top: 16vw;
  left: 52vw;
  color: #3d6877;
}
/* 
FOOTER 
-------------------
*/
footer {
  position: relative;
  top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vw;
  background-color: #222059;
  color: white;
}
#mimaarbid-text {
  position: relative;
  bottom: -3.2%;
  font-family:"Sacramento";
  font-size: 4.3vw;
}
#pismo-simbol {
  position: relative;
  font-family: "Wingdings";
  font-size: 6.2vw;
  font-weight: 100;
  top: -6%;
}
.kontakt-imejl {
 display: block;
 margin-left: -14.5%;
 font-size: 1.7vw;
 margin-bottom: 0%;
}
.kontakt-imejl p:first-of-type {
  margin-left: 3px;
  margin-bottom: -7%;
  font-size: 0.8em;
}
.kontakt-imejl p:last-of-type a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  padding: 4px;
  border-radius: 2px;
}
#facebook {
  font-family: "Arial";
  font-weight: bolder;
  font-size: 3em;
}
#facebook a {
  color: white;
  text-decoration: none;
}
#povratak-na-vrh-strane {
  position: absolute;
  right: 3px;
  top: -47px;
  opacity: 0.7;
}
#povratak-na-vrh-strane a {
  color:#222059;
  padding: 7px 28px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.4vw;
  background-color: transparent;
  color: black;
  border: 1px solid #adb5bd;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}
/* 
MOBILNI 
-----------------------
*/
.mobilni {
  font-size: 1em; 
  padding: 25px 2px;
  text-align: justify;
  width: 90%;
}

/* RESPONSIVE [ Laptop Large ] (min-width: 1200px) */
@media screen and (min-width: 1200px) {
  
  /* Prva Sekcija */
    .navigation-bar {
      margin-left: 58%;
    }
    .navigation-bar li a {
      padding: 0 22px;
      letter-spacing: 2.4px;
    }
    /* Treća sekcija */
  }

/* RESPONSIVE [ Laptop Extra Large] (min-width 1400px) */

@media screen and (min-width: 1400px) {

  /*Prva Sekcija */
    .navigation-bar {
      margin-left: 60%;
    }
    .navigation-bar li a {
      padding: 0 22px;
      letter-spacing: 2.4px;
    }
  }
 
  /* RESPONSIVE [ Very Large Screen ] (min-width: 1900px) */

@media screen and (min-width: 1900px) {
  
  /* Prva Sekcija */
    .navigation-bar {
      margin-left: 62%;
      font-size: 1.42vw;
    }
    .navigation-bar li a {
      padding: 0 38px;
      letter-spacing: 2.4px;
    }
  }
  /* RESPONSIVE [ Prelazak sa Flex-Fow na Flex-Column u drugoj sekciji ] (max-width 1023) */

/* Druga Sekcija */
@media screen and (max-width: 1023px) {
.biografija {
  flex-direction: column-reverse;
  align-items: center;
  height: 65vw;
}
.biografija-text {
  position: relative;
  width: 100%;
  height: auto;
  top: 8%;
  font-size: 1.1em;
  line-height: 2.3vw;
  color: #16191E;
}
.biografija img {
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
/* Treća sekcija*/
.slika-palme {
  text-align: center;
  font-size: 1em;
  margin-left: -4%;
}
}
/* RESPONSIVE [ iPad Air & iPad Mini ] (min-width: 768px) and (max-width: 899px) */
@media screen and (min-width: 768px) and (max-width: 899px) {
  
  /* Prva Sekcija */
  .mimaarbid-naslovna {
    height: 46vw;
  }
  .navigation-bar {
    margin-left: 56%;
  }
  .navigation-bar li a {
    padding: 0 10px;
    letter-spacing: 2.4px;
    font-size: 1.3vw;
  }
  /* Druga sekcija */
  .biografija {
    position: relative;
    top: 10%;
    height: 75vw;
  }
    .biografija-text {
      background-size: 95% 120%;
      background-position: 0 -60%;
      background-repeat: no-repeat;
    }
  
  .biografija-text pre{
    position: relative;
    width: 95%;
    top: 14.7%;
    font-size: 2.3vw;
    line-height: 3vw;
    align-items: center;
  }
  .biografija img {
    margin-top: 14%;
  }
  #a {
    position:absolute;
    font-size: 1.3em;
    text-align: center;
    margin-left: 49.5%;
    margin-top: 11%;
  }
  #b {
    position: absolute;
    margin-top: 2.3%;
    font-size: 1.3em;
    margin-left: enter;
    margin-left: 49%;
    text-align: center;
  }
}
/* RESPONSIVE [ PRELAZNA FAZA iPad -> Laptop ] (min-width: 900px) and (max-width: 1023px) */

@media screen and (min-width: 900px) and (max-width: 1023px){
  /* Druga sekcija */
  .biografija {
    position: relative;
    height: 75vw;
  }
  .biografija-text {
    background-size: 95% 120%;
    background-position: 0 -40%;
    background-repeat: no-repeat;
  }
  .biografija-text pre{
    position: relative;
    width: 95%;
    top: 10%;
    font-size: 2.1vw;
    line-height: 2.9vw;
    align-items: center;
  }
  .biografija img {
    margin-top: 12%;
  }
  #a {
    position:absolute;
    font-size: 1.3em;
    text-align: center;
    margin-left: 49.5%;
    margin-top: 8%;
  }
  #b {
    position: absolute;
    margin-top: 0%;
    font-size: 1.3em;
    margin-left: enter;
    margin-left: 49%;
    text-align: center;
  }
}

