/* Prelazak sa Flex-Row na Flex-Column u drugoj sekciji (max-width 1023px) */

@media screen and (max-width: 1023px) {
  /* PRVA SEKCIJA: Početna */
  .navigation-bar {
    margin-left: 56%;
  }
  .navigation-bar li a {
    font-size: 1.3vw;
  }
  /* DRUGA SEKCIJA: Biografija */
  .biografija {
    background-position: 100% 0px;
    position: relative;
    flex-direction: column-reverse;
    align-items: center;
    height: 104vw;
  }
  .biografija-text {
    position: absolute;
    width: 100%;
    top: 0%;
  }
  .biografija-text pre {
    position: relative;
    width: 95%;
    left: -5%;
    font-size: 2.1vw;
    line-height: 2.4vw;
    align-items: center;
  }
  .biografija img {
    position: relative;
    width: 70%;
    top: -10%;
    left: -2%;
  }
  #wingdings-a {
    position:absolute;
    font-size: 1.3em;
    text-align: center;
    margin-left: 47%;
    margin-top: 3.5%;
    font-family: "Wingdings 2";
  }
  #wingdings-b {
    position: absolute;
    margin-top: -4%;
    font-size: 1.3em;
    margin-left: 47%;
    text-align: center;
    font-family: "Wingdings 2";
  }
  /* ASIDE: slika-planina (text) */
  .slika-text p {
    font-size: 2.2vw;
  }
  /* FOOTER */
  #vrh-strane a {
    font-size: 1.2em;
  }
  /* TREĆA SEKCIJA, ČETVRTA SEKCIJA, PETA SEKCIJA */
  .umetnički-blok, .umetnički-blok2, .slika-planina div p {
    font-size: 1.1em;
  }
}

/* Laptop  (min-width: 1024px) */

@media screen and (min-width: 1024px) {
  /* PRVA SEKCIJA: Početna */
  .navigation-bar {
    margin-left: 55%;
    margin-top: 4.6%;
  }
  .navigation-bar li a {
    padding: 0 20px;
  }
} 

/* Laptop Large (min-width: 1200px) */
  
@media screen and (min-width: 1200px) {
  /* PRVA SEKCIJA: Početna */
  .navigation-bar {
    margin-left: 58%;
    margin-top: 4.6%;
  }
  .navigation-bar li a {
    padding: 0 20px;
  }
  /* FOOTER */
  #vrh-strane {
    right: 3px;
    top: -52px;
  }
}
@media screen and (min-width: 1400px) {
  /* PRVA SEKCIJA: Početna */
  .navigation-bar {
    margin-left: 60%;
  }
  .navigation-bar li a {
    padding: 0 22px;
  }
}
@media screen and (min-width: 1900px) {
  /* PRVA SEKCIJA: Početna */
  .navigation-bar {
    margin-left: 61%;
  }
  .navigation-bar li a {
    padding: 0 30px;
    font-size: 1.4vw;
  }
  /* FOOTER */
  #vrh-strane {
    top: -70px;
  }
}

/* iPad Air & iPad Mini (min-width: 768px) and (max-width: 900px) */

  @media screen and (min-width: 768px) and (max-width: 900px) {
  /* PRVA SEKCIJA: Početna */
  .navigation-bar {
    margin-top: 3.8%;
    margin-left: 53%;
  }
  .navigation-bar li a {
    padding: 0 12px;
    font-size: 1.4vw;
  }
  /* DRUGA SEKCIJA: Biografija */
  .biografija {
    height: 110vw;
  }
  .biografija-text pre {
    font-size: 2.3vw;
    line-height: 2.7vw;
  }
  .biografija img {
    width: 70%;
    top: -11%;
  }
  #wingdings-a {
    margin-top: 2.9%;
  }
} 

/* Prelazak sa Flex-Row na Flex-Column u sedmoj sekciji (max-width 900px) */
  
@media screen and (max-width: 900px) {
  /* DRUGA SEKCIJA: Biografija */
  .biografija {
    background-position: 102% 18px;
  }
  /* ASIDE: slika-planina (text) */
  .slika-text p {
    font-size: 1.3em;
  }
  /* KNJIGE */
  #belong {
    font-size: 3.9vw;
    margin-left: 7%;
  }
  .knjige-izdanja  {
    margin-left: 2%;
    font-size: 3vw;
  }
  .amazon {
    width: 20.3%;
    font-size: 1.8vw;
    top: 23%;
    left: 23.2%;
  }
  /* ASIDE: Mima-lično */
  .mima-lično {
    display: flex;
    flex-direction: column-reverse;
    height: 65vw;
  }
  .mima-text {
    top: 0%;
    left: 7.5%;
    width: 79%;
  }
  .mima-text p{
    font-size: 2.7vw;
  }
  .mima-lično img:first-of-type {
    width: 40%;
    margin-left: 8%;
  }
  .mima-lično img:last-of-type {
    width: 40%;
    margin-left: 49%;
    margin-bottom: -30%;
  }
  #mima-potpis {
    font-size: 7.6vw;
    margin-top: 12%;
    margin-left: 9%;
  }
  /* ASIDE: About */
  #mimaabout {
    top: 2vw;
  }
  .mimaarbid header {
    font-size: 2.6vw;
    letter-spacing: 2px;
  }
  .mimaarbid pre {
    font-size: 2.2vw;
    line-height: 2.7vw;
    margin-left: 4.5%;
    margin-top: -4%;
  }
  /* FOOTER */
  footer {
    height: 16vw;
  }
  #mimaarbid-text {
    bottom: -3.2%;
    font-size: 3em;
  }
  #pismo {
    font-size: 9vw;
    top: -5%;
    margin-left: 2.5%;
  }
  .kontakt-imejl {
    margin-left: -13.4%;
    font-size: 2.7vw;
    margin-bottom: -2%;
  }
  #facebook {
    font-size: 3em;
  }

}

/* VEĆI MOBILNI (max-width: 767px) */

@media screen and (max-width: 767px) {
  /* PRVA SEKCIJA */
  .mimaarbid-naslovna {
    background-image: url('slike/mobilni.jpg');
    background-size: cover;
    height: 92.6vw;
    display: flex;
  }
  .navigation-bar {
    position: relative;
    left: -5%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  .navigation-bar li a {
    font-size: 1.25em;
    color:   #F7F3D6;
    font-weight: bolder;
    padding: 0 17px;
    letter-spacing: 2.3px;
  }
  /* DRUGA SEKCIJA: Biografija */
  .biografija {
    height: 125vw;
    background-position: 102% 34px;
  }
  .biografija img {
    position: relative;
    width: 98%;
    top: -18%;
    margin-left: 4%;
    margin-bottom: -25%;
  }
  .biografija-text pre {
    font-size: 2.7vw;
    line-height: 3.2vw;
  }
  #wingdings-a {
    margin-top: 2%;
  }
  /* TREĆA SEKCIJA: Umetnički-Blok*/
  .slika-palme {
    width:100%; 
    height: auto;
  }
  .slika-palme img {
    width: 100%; 
    height: auto;
    margin-top: -1%;
  }
  .slika-palme p {
    text-align: center;
  }
  .slika-četkice-text {
    display: block;
    width: 68%;
    font-family: "Marion", serif;
    position: absolute;
    margin-left: 30%;
  }
  .slika-četkice-text h2 {
    font-size: 1.2em;
    color:#222059;
  }
  .slika-četkice-text p {
    font-size: 1.17em;
    line-height: 1.2em;
    color: #3d6877;
  }
  /* ČETVRTA SEKCIJA: Umetnički-Blok 2 */  
  .umetnički-blok2 {
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: transparent;
  }
  .slika-palme2 {
    width: 80%;
    margin-top: 10px;
  }
  .slika-palme3 {
    width: 100%;
    margin-top: 10px;
  }
  /* ASIDE: slika-planina (text) */
  .slika-text {
    background-color: transparent;
    font-size: 2.2vw;
  }
  .slika-text p {
    font-size: 1.3em;
  }
  /* ASIDE: Mima-lično */
  .mima-text {
    top: -0.5%;
    left: 7.5%;
    width: 88%;
  }
  .mima-text p{
    font-size: 3vw;
  }
  .mima-lično img:last-of-type {
    width: 46%;
    margin-left: 49%;
    margin-bottom: -35%;
  }
  #mima-potpis {
    font-size: 8.5vw;
    margin-top: 8%;
    margin-left: 5%;
  }
  /* ASIDE: About */
  .mimaarbid header {
    font-size: 3.25vw;
    letter-spacing: 0.3vw;
    margin-left: 8%;
    margin-top: -3%;
  }
  .mimaarbid pre {
    font-size: 3.2vw;
    margin-left: 3.5%;
    line-height: 3.7vw;
    margin-top: -5%;
  }
  /* FOOTER */
  #mimaarbid-text {
    font-size: 6.2vw;
  }
  .kontakt-imejl {
    margin-left: -12%;
  }
}

/* SREDNJI MOBILNI (max-width: 670px) */
  
@media screen and (max-width: 670px) {
  /* PRVA SEKCIJA Naslovna*/
  .navigation-bar li a {
    font-size: 1.2em;
    padding: 0 17px;
  }
  /* DRUGA SEKCIJA: Biografija */
  .biografija {
    height: 128vw;
    background-position: 102% 40px;
  }
  .biografija img {
    margin-bottom: -25%;
  }
  .biografija-text pre {
    font-size: 3vw;
    line-height: 3.4vw;
    margin-left: 5%;
  }
  #wingdings-b {
    margin-top: -5%;
  }
  /* ASIDE: slika-planina (text) */
  .slika-text {
    font-size: 2.4vw;
  }
  .slika-text p {
    font-size: 1.3em;
    width: 100%
  }
  /*PETA SEKCIJA: Umetnički-Blok 3 */
  .slika-planina div {
    text-align: center;
  }
  .slika-planina div p{
    margin-bottom: 0%;
  }
  /* KNJIGE */
  #belong {
    margin-left: 11%;
    font-size: 1.6em;
    margin-bottom: 2.3%;
  }
  .knjige-izdanja {
    font-size: 1.2em;
    margin-left: 8%;
  }
  .knjige-izdanja p {
    font-size: 1em;
    letter-spacing: 1px;
  }
  .knjige-izdanja p:last-of-type {
    margin-top: -2%;
  }
  .amazon {
    width: 34%;
    left: 28%;
    top: 7%;
    font-size: 0.9em;
  }
  /* ASIDE: Mima-lično */
  .mima-text {
    top: -3%;
    left: 7.5%;
    width: 92%;
  }
  .mima-text p{
    font-size: 3.3vw;
  }
  .mima-lično img:last-of-type {
    width: 45%;
    margin-left: 49%;
    margin-bottom: -35%;
  }
  #mima-potpis {
    font-size: 8.5vw;
    margin-top: 10%;
    margin-left: -1%;
  }
  /*FOOTER MOBILNI*/
  footer {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: flex-start;
    height: 57vw;
  }
  #mimaarbid-text {
    order: 1;
    flex-basis: 55%;
    font-size: 9vw;
  }
  #pismo {
    flex-basis: 30%;
    order: 3;
    font-size: 17vw;
    margin-top: -11%;
    margin-left:14%
  }
  .kontakt-imejl {
    flex-basis: 34%;
    order: 4;
    font-size: 4.4vw;
    margin-left: -5%;
    margin-top: -14%;
  }
  .kontakt-imejl p {
    font-size: 1.15em;
  }
  #facebook {
    flex-basis: 15%;
    order: 2;
    font-size: 10vw;
    margin-top: 10%;
    margin-left: 4%;
  }
}
@media screen and (max-width: 590px) {
  /* DRUGA SEKCIJA: Biografija */
  .biografija {
    height: 154vw;
    background-position: 0px 18%;
  }
  .biografija img {
    margin-bottom: -28%;
  }
  .biografija-text pre {
    font-size: 3.6vw;
    line-height: 4.1vw;
    margin-top: 5%;
  }
  /* TREĆA SEKCIJA: Umetnički-Blok*/
  .umetnički-blok {
    margin-top: 60px;
  }
  .slika-četkice-text {
    margin-left: 30%;
    margin-top: -5%;
  }
  .slika-četkice-text h2 {
    font-size: 1.2em;
  }
  .slika-četkice-text p {
    font-size: 1.1em;
    line-height: 1.2em;
  }
  /* ASIDE: slika-planina (text) */
  .slika-text {
    font-size: 2.6vw;
  }
  .slika-text p {
    font-size: 1.35em;
  }
  /* KNJIGE */
  .amazon {
    top: 5%;
  }
  /* ASIDE: Mima-lično */
  .mima-lično {
   height: 73vw
  }
  .mima-text p {
    font-size: 3.8vw;
  }
  .mima-lično img:first-of-type {
    margin-bottom: 0%;
  }
  .mima-lično img:last-of-type {
    width: 45%;
    margin-left: 50%;
    margin-bottom: -33%;
  }
  #mima-potpis {
    font-size: 9.5vw;
    margin-left: 0%;
    margin-top: 0%;
  }
  /* FOOTER */
  #facebook {
    flex-basis: 19%;
    order: 2;
    font-size: 12vw;
    margin-top: 9%;
    margin-left: 2%;
  }
}
@media screen and (max-width: 540px) {
  /* PRVA SEKCIJA Naslovna*/
  .navigation-bar li a {
    font-size: 1.1em;
    padding: 0 15px;
  }
  /* TREĆA SEKCIJA: Umetnički-Blok*/
  .slika-četkice-text {
    margin-top: -10%;
  }
  /* PETA SEKCIJA: Umetnički-Blok 3 */
  .slika-planina div p {
    font-size: 0.9em;
  }
  /* ASIDE: About */
  #mimaabout {
    padding:0
  }
  .mimaarbid header {
    font-size: 4.3vw;
    letter-spacing: 0.3vw;
    margin-left: 8%;
    margin-top: -4%;
  }
  .mimaarbid pre {
    font-size: 3.9vw;
    margin-left: 2.5%;
    line-height: 4.5vw;
    margin-bottom: 8%;
    margin-top: -6%;
  }
  /* FOOTER*/
  footer {
    margin-top: 2%;
  }
} 
@media screen and (max-width: 491px) {
  /* PRVA SEKCIJA Naslovna*/
  .navigation-bar li a {
    font-size: 1em;
    padding: 0 15px;
  }
  /* DRUGA SEKCIJA: Biografija */
  .biografija {
    height: 171vw;
    background-position: 0px 20%;
  }
  .biografija img {
    margin-bottom: -30%;
  }
  .biografija-text pre {
    font-size: 4.2vw;
    line-height: 5vw;
    margin-left: 5%;
  }
  /* TREĆA SEKCIJA: Umetnički-Blok*/
  .umetnički-blok {
    margin-top: 100px;
  }
  .slika-četkice-text {
    margin-left: 30%;
    margin-top: -17%;
  }
  .slika-četkice-text h2 {
    font-size: 1.2em;
  }
  .slika-četkice-text p {
    font-size: 1.1em;
    line-height: 1.17em;
    margin-top: -3%;
  }
  /* ASIDE: slika-planina (text) */
  .slika-text {
    font-size: 1em;
  }
  .slika-text p {
    font-size: 1.1em;
  }
  /* KNJIGE */
  #belong {
    font-size: 1.9em;
  }
  .knjige-izdanja {
    font-size: 1.2em;
  }
  .knjige-izdanja p {
    font-size: 1.2em;
  }
  .amazon {
    width: 36%;
    left: 35%;
    top: 9%;
  }
  /*FOOTER MOBILNI*/
  footer {
    height: 63vw;
  }
  #mimaarbid-text {
    font-size: 10vw;
    margin-left: 5%;
  }
  #pismo {
    flex-basis: 30%;
    font-size: 19vw;
    margin-left: 12%;
    margin-top: -16%;
  }
  .kontakt-imejl {
    flex-basis: 34%;
    order: 4;
    font-size: 4.9vw;
    margin-left: -5%;
    margin-top: -19%;
  }
  .kontakt-imejl p {
    font-size: 1.18em;
  }
  #facebook {
    font-size: 13vw;
    margin-top: 10%;
    margin-left: 11%;
  }
}

/*MANJI MOBILNI */

@media screen and (max-width: 436px) {
  /* PRVA SEKCIJA Naslovna*/
  .navigation-bar li a {
    font-size: 0.9em;
    padding: 0 10px;
  }
  /* DRUGA SEKCIJA: Biografija */
  .biografija {
    height: 175vw;
    background-position: 0px 22%;
  }
  .biografija img {
    margin-bottom: -31%;
  }
  .biografija-text pre {
    font-size: 4.5vw;
    line-height: 5.3vw;
  }
  /* ASIDE: slika-planina (text) */
  .slika-text p {
    width: 95%;
  }
  /*KNJIGE*/
  .amazon {
    left: 33%;
    font-size:1.07em;
    width: 39%;
    top: 7%;
  }
  /* ASIDE: Mima-lično */
  .mima-lično {
    height: 64.5vw;
   }
  .mima-text p {
    font-size: 4.4vw;
  }
  .mima-lično img:first-of-type {
    margin-bottom: -20%;
  }
  #mima-potpis {
    margin-left: -1%;
  }
  /* ASIDE: About */
  #mimaabout {
    top: 23vw;
  }
  .mimaarbid header {
    font-size: 4.6vw;
    margin-top: -6%;
  }
  .mimaarbid pre {
    font-size: 4.4vw;
    margin-left: 1.7%;
    line-height: 5.3vw;
    margin-top: -7%;
  }
  /* FOOTER*/
  footer {
    margin-top: 24%;
  }
}
@media screen and (max-width: 383px) {
  /* PRVA SEKCIJA Naslovna*/
  .navigation-bar li a {
    font-size: 0.8em;
    padding: 0 10px;
  }
  /* DRUGA SEKCIJA: Biografija */
  .biografija {
    height: 181vw;
  }
  .biografija img {
    margin-bottom: -33%;
  }
  .biografija-text pre {
    font-size: 4.6vw;
    line-height: 5.7vw;
  }
  /* TREĆA SEKCIJA: Umetnički-Blok*/
  .umetnički-blok {
    margin-top: 95px;
  }
  .slika-četkice-text {
    margin-left: 30%;
    margin-top: -20%;
  }
  .slika-četkice-text h2 {
    font-size: 5vw;
  }
  .slika-četkice-text p {
    font-size: 4.9vw;
    line-height: 5.4vw;
    margin-top: -2%;
  }
  /* ASIDE: slika-planina (text) */
  .slika-text  p {
    width: 94%;
  }
  /* PETA SEKCIJA: Umetnički-Blok 3 */
  .slika-planina div {
    margin-bottom: -2%;
  }
  /* KNJIGE */
  #belong {
    font-size: 7vw;
  }
  .knjige-izdanja {
    font-size: 4.5vw;
  }
  .amazon {
    width: 44%;
    top: 9%;
    font-size: 3.9vw;
  }
  /* ASIDE: Mima-lično */
  #mima-potpis {
    margin-left: -1%;
  }
  /* FOOTER*/
  #mimaarbid-text {
    margin-left: 0%;
  }
  #pismo {
    margin-left: 2%;
  }
  .kontakt-imejl {
    font-size: 5vw;
  }
  #facebook {
    margin-left: 6%;
    margin-top: 9%;
  }
}
@media screen and (max-width: 340px) {
/* PRVA SEKCIJA Naslovna*/
  .navigation-bar li a {
    font-size: 0.7em;
    padding: 0 9px;
  }
  /* DRUGA SEKCIJA: Biografija */
  .biografija {
    height: 180vw;
  }
  .biografija img {
    margin-bottom: -36%;
  }
  .biografija-text pre {
    font-size: 4.87vw;
    line-height: 5.8vw;
  }
  .mima-text p{
    font-size: 4.8vw;
  }
  /* ASIDE: slika-planina (text) */
  .slika-text {
    font-size: 4vw;
  }
  .slika-text p {
    font-size: 5.3vw;
  }
  /* KNJIGE */
  .amazon {
    width: 43%;
  }
   /* ASIDE: Mima-lično */
  .mima-lično img:first-of-type {
    margin-bottom: -24%;
  }
  /* ASIDE: About */
  #mimaabout {
    top: 27vw;
  }
  .mimaarbid header {
    font-size: 4.7vw;
    margin-left: 8%;
  }
  .mimaarbid pre {
    font-size: 4.6vw;
    line-height: 5.3vw;
    margin-bottom: 10%;
    margin-left:1%;
  }
  /*FOOTER MOBILNI*/
  footer {
    margin-top: 28%;
    height: 61vw;
  }
  #pismo {
    margin-top: -16%;
  }
  .kontakt-imejl {
    margin-top: -19%;
  }
  #facebook {
    font-size: 14vw;
    margin-top: 8%;
  }
}
@media screen and (max-width: 306px) {
  /* PRVA SEKCIJA Naslovna*/
  .navigation-bar li a {
    font-size: 0.6em;
    padding: 0 8px;
  }
  /* KNJIGE */
  .amazon {
    width: 47%;
  }
}